
            <div class="jumbotron">
                <h1>1С Предприятие</h1>
                <p>Это сайт помощи для пользователей 1С УПП.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>Кадровый учет</h2>
                    <p>Кадровый учет - это документированный учет движения персонала организации, связанный с оформлением трудовых отношений, приема, перемещения, увольнения и организации труда. На работодателей – индивидуальных предпринимателей возлагаются практически все права и обязанности работодателей – юридических лиц (организаций) со всеми вытекающими из этого последствиями.Ведение кадрового учета является обязанностью любой организации вне не зависимости от ее формы собственности,  размера и применяемой системы налогообложения.</p>
                    <p>Правильность ведения и оформления учетных документов контролируется инспекциями по труду, а также частично налоговыми органами и внебюджетными фондами. Ведение кадрового учета, в соответствии с законодательством, подразумевает под собой оформления большого количества документов, фиксирующих трудовые отношения работника и работодателя. И практически любой из этих документов может быть затребован при проведении проверки Гострудинспекцией,  или налоговая инспекция и внебюджетными фондами.</p>
                </div>
                <div class="col-md-6">
                    <h2>Расчет заработной платы</h2>
                    <p>
                        Конфигурация позволяет производить расчет регламентированной и управленческой заработной платы.
                        Под регламентированной заработной платой в конфигурации понимается заработная плата, начисляемая сотрудникам организаций в соответствии с условиями трудового и коллективного договора.
                        Расчет регламентированной заработной платыведется в валюте регламентированного учета, а ее результаты учитываются для целей налогооблажения НДФЛ, обложения страховыми взносами и отображаются в бухгалтерском и налоговом учете.
                        Под управленеской заработной платой в конфигурации понимается заработная плата сотрудников организации или предприятия для целей управленческого учета. Управленчиская зарплата может расчитыватся в любой валюте.
                        Результаты управленчиской зарплаты используются для учета затрат на персонал по центрам ответственности.
                    </p>
                </div>
            </div>
