
<div class="jumbotron">
    <h1>Расчет зарплаты</h1>
</div>
<div >
    <p>
        Конфигурация позволяет производить расчет регламентированной и управленческой заработной платы.
        Под регламентированной заработной платой в конфигурации понимается заработная плата, начисляемая сотрудникам организаций в соответствии с условиями трудового и коллективного договора.
        Расчет регламентированной заработной платыведется в валюте регламентированного учета, а ее результаты учитываются для целей налогооблажения НДФЛ, обложения страховыми взносами и отображаются в бухгалтерском и налоговом учете.
        Под управленеской заработной платой в конфигурации понимается заработная плата сотрудников организации или предприятия для целей управленческого учета. Управленчиская зарплата может расчитыватся в любой валюте.
        Результаты управленчиской зарплаты используются для учета затрат на персонал по центрам ответственности.
    </p>
</div>
