<h1>
    Кадры
</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consequatur distinctio dolorem dolores
        doloribus explicabo iste labore libero necessitatibus, quisquam rem repellendus sunt, vel voluptatum! Dolor est
        fuga voluptas?</p>

    <p>Assumenda aut consequatur dolores exercitationem illo in laborum libero molestiae neque obcaecati odit possimus,
        sapiente, tempora voluptas, voluptatibus? Atque autem consectetur consequuntur dolore excepturi obcaecati
        reprehenderit? Numquam, quibusdam, repellendus. Soluta?</p>
