<div class="jumbotron">
    <h1>Кадровый учет</h1>
</div>
<div>
    <p>Кадровый учет - это документированный учет движения персонала организации, связанный с оформлением трудовых отношений, приема, перемещения, увольнения и организации труда. На работодателей – индивидуальных предпринимателей возлагаются практически все права и обязанности работодателей – юридических лиц (организаций) со всеми вытекающими из этого последствиями.Ведение кадрового учета является обязанностью любой организации вне не зависимости от ее формы собственности,  размера и применяемой системы налогообложения.</p>
    <p>Правильность ведения и оформления учетных документов контролируется инспекциями по труду, а также частично налоговыми органами и внебюджетными фондами. Ведение кадрового учета, в соответствии с законодательством, подразумевает под собой оформления большого количества документов, фиксирующих трудовые отношения работника и работодателя. И практически любой из этих документов может быть затребован при проведении проверки Гострудинспекцией,  или налоговая инспекция и внебюджетными фондами.</p>
</div>
