
    <div class="block-flat" ng-repeat="sub in subcategories[0].subcategories">
        <div class="header">
            <h3>{{sub.title}}</h3>
        </div>
        <div class="content">
            <div ng-repeat="art in sub.articles">
                <div class="news-title">
                    <a href="">{{art.title}}</a>
                </div>
                <div class="news-content">
                    {{art.description}}
                </div>
            </div>
        </div>
    </div>



